package ${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.Map;

import com.orilog.log.util.ValidatorUtils;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;
import ${mainPath}.util.PageUtils;
import ${mainPath}.model.ResultModel;



/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("${moduleName}/${pathName}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 列表
     */
    @RequestMapping("/list")
    public ResultModel list(@RequestParam Map<String, Object> params){
        PageUtils page = ${classname}Service.queryPage(params);
        return ResultModel.success(page);
    }


    /**
     * 信息
     */
    @RequestMapping("/info/{${pk.attrname}}")
    public ResultModel info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
        ${className}Entity ${classname} = ${classname}Service.getById(${pk.attrname});
        return ResultModel.success(${classname});
    }

    /**
     * 保存
     */
    @RequestMapping("/save")
    public ResultModel save(@RequestBody ${className}Entity ${classname}){
        ${classname}Service.save(${classname});

        return ResultModel.success();
    }

    /**
     * 修改
     */
    @RequestMapping("/update")
    public ResultModel update(@RequestBody ${className}Entity ${classname}){
        ValidatorUtils.validateEntity(${classname});
        ${classname}Service.updateById(${classname});
        return ResultModel.success();
    }

    /**
     * 删除
     */
    @RequestMapping("/delete")
    public ResultModel delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s){
        ${classname}Service.removeByIds(Arrays.asList(${pk.attrname}s));
        return ResultModel.success();
    }

}
